.cross-button {
    @include reset-button;  //сбрасывает стандартные стили кнопки
    @include square(48px);  //задает ширину и высоту кнопки, делая ее квадратной формы

    position: relative;
    border-radius: $border-radius-small;

    @include hover {
        background-color: $color-accent;
    }

    //определяют стили для двух псевдоэлементов, которые вместе создают визуальное представление крестика
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 7px;
        width: 70%;
        height: 2px;
        background-color: $color-dark;
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}