// Утилитарные функции/классы
.container {
    max-width: calc($container-width + $container-padding-x * 2);   //устанавливает максимальную ширину контейнера, складывая ширину контейнера ($container-width) и горизонтальный внутренний отступ ($container-padding-x) с обеих сторон.

    margin-inline: auto;    // автоматически выравнивает контейнер по горизонтали, создавая эффект центрирования.

    padding-inline: $container-padding-x;   //задает горизонтальный внутренний отступ контейнера.

}   //Этот класс обычно используется для создания центрированного контейнера, который ограничивает максимальную ширину содержимого и центрирует его на странице.

.visually-hidden {
    @include visually-hidden;
}   //Этот класс используется для доступности (a11y), чтобы скрыть элементы на странице, но при этом сделать их доступными для скринридеров.

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}   //Этот класс используется для скрытия элементов на мобильных устройствах.

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}   //Обратная задача класса .hidden-mobile